/* PALETTE */
:root {
    --light-blue: #1B72E8;
    --blue: #051E34;
    --md-blue: #165BBA;
    --white: #FFFFFF;
    --grey: #E5E5E5;
    --light-grey: #F8F9FA;
    --dark-grey: #5B5858;
    --salmon: #F26551;
    --gold: #FF8F00;
}

/* BG CUSTOM */
.bg_light-grey {
    background-color: var(--light-grey);
}

.bg_white {
    background-color: var(--white);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.bell {
    color: var(--gold);
}

/* RESET RULES */
ul,
ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

button {
    background: none;
    border: none;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

input[type="search"] {
    border: none;
    background: none;
}

input[type="search"]:focus {
    outline: none;
}

::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
}


/* UTILITY CLASSES */
figure > img {
    width: 100%;
}

/* APP CUSTOM PROPERTIES */
#app {
    height: 100vh;
}

/* TOOLBAR */
.toolbar .mobile-logo {
    height: 33px;
    aspect-ratio: 1 / 1;
}

.toolbar .search-bar {
    background-color: var(--grey);
}

.toolbar .toolbar__cta-tools .cta-tool:not(.bell) {
    display: none;
}

/* NAVIGATION MENU */
.master .ms_nav {
    width: 50px;
}

.master .ms_nav {
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--blue);
}

.master .ms_nav__items .ms_nav__item {
    width: 100%;
    font-size: 1rem;
}

.ms_nav__items .ms_nav__item a {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.ms_nav__item .ms_nav-text {
    display: none;
}

.ms_nav__item i {
    width: 21px;
    aspect-ratio: 1;
}

/* STUDENT BAR CUSTOM */
.student-bar {
    background-color: var(--light-blue);
    padding: 23px 0;
}

.student-tools {
    padding: 0 15px;
}

.badge--mod {
    background-color: var(--md-blue);
    font-weight: 600;
    border-radius: 15px;
}

.badge_item:not(:first-child) {
    display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    

    .toolbar .toolbar__cta-tools .cta-tool:not(.bell) {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .badge_item:first-child {
        display: none;
    }

    .badge_item:not(:first-child) {
        display: block;
    }

    .master .ms_nav {
        width: 150px;
        padding-left: 20px;
    }

    .ms_nav__item .ms_nav-text {
        display: inline-block;
    }

    .ms_nav__items .ms_nav__item a {
        justify-content: flex-start;
    }
}

/* DEBUG */

.debug .navigation {
    background-color: #1B72E8;
}

.debug .main-content {
    background-color: burlywood;
}

.debug .working-area {
    border: 2px solid brown;
}
