/* PALETTE */
:root {
    --light-blue: #1B72E8;
    --blue: #051E34;
    --white: #FFFFFF;
    --grey: #E5E5E5;
    --light-grey: #F8F9FA;
    --dark-grey: #5B5858;
    --salmon: #F26551;
    --gold: #FF8F00;
}

/* BG CUSTOM */
.bg_light-grey {
    background-color: var(--light-grey);
}

.bg_white {
    background-color: var(--white);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.bell {
    color: var(--gold);
}

/* RESET RULES */
ul,
ol {
    list-style: none;
    padding-left: 0;
}

button {
    background: none;
    border: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

input[type="search"] {
    border: none;
    background: none;
}

input[type="search"]:focus {
    outline: none;
}

::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
}


/* UTILITY CLASSES */
figure > img {
    width: 100%;
}

/* APP CUSTOM PROPERTIES */
#app {
    height: 100vh;
}

/* NAVIGATION */
.master .navigation {
    width: 50px;
}

/* TOOLBAR */
.toolbar .mobile-logo {
    height: 33px;
    aspect-ratio: 1 / 1;
}

.toolbar .search-bar {
    background-color: var(--grey);
}

.toolbar .toolbar__cta-tools .cta-tool:not(.bell) {
    display: none;
}




/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .master .navigation {
        width: 150px;
    }

    .toolbar .toolbar__cta-tools .cta-tool:not(.bell) {
        display: block;
    }
}


/* DEBUG */
.debug #app {
    background-color: green;
}

/* .debug .toolbar {
    border: 3px solid black;
} */
/* 
.debug .toolbar {
    min-height: 50px;
} */

.debug .navigation {
    background-color: #1B72E8;
}

.debug .main-content {
    background-color: burlywood;
}

.debug .student-bar {
    background-color: aqua;
    height: 50px;
}

.debug .working-area {
    border: 2px solid brown;
}

/* .debug .toolbar ul > li {
    border: 2px solid black;
} */